/* stylelint-disable docusaurus/copyright-header */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.stopWatch {
  width: 280px;
  text-align: center;
  padding: 5px 5px;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}

.timer, .fulltime {
  background: white;
  color: #2471a3;
  text-align: center;
  padding: 10px 10px;
  border: 1px solid #5499c7;
  box-shadow: 0 0 5px #5499c7;
  font-family: tahoma;
  width: auto;
  height: auto;
  font-weight: bold;
  display: block;
}

.start {
  color: #2471a3;
  text-align: center;
  padding: 8px 16px;
  margin: 4px 2px;
  border: 2px solid #4CAF50;
  background: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.start:hover {
  background-color: #4CAF50;
  color: white;
}

.reset {
  color: #2471a3;
  border: 2px solid #f44336;
  text-align: center;
  padding: 8px 16px;
  margin: 4px 2px;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.reset:hover {
  background-color: #f44336;
  color: white;
}

.pause {
  color: #2471a3;
  border: 2px solid #af7ac5;
  text-align: center;
  padding: 8px 16px;
  margin: 4px 2px;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.pause:hover {
  background-color: #af7ac5;
  color: white;
}

.cont {
  color: #2471a3;
  border: 2px solid #5dade2;
  text-align: center;
  padding: 8px 16px;
  margin: 4px 2px;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.cont:hover {
  background-color: #5dade2;
  color: white;
}